# backups
PSrc/ClientMachine.p.bak

.idea/*

*.swp

.idea

.l2cap-probe*

.Module*

.modules*

l2cap-probe.mod

l2cap-probe.mod.c

l2cap-probe.mod.o

l2cap-probe.o

l2cap-probe.ko

.vscode

a.out

modules.order

Module.symvers

pserv
